.sonya {
    background: url(../images/battlegrounds/cursedhollow.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 3px solid yellow;
}
